@*@using HubBlogAssignemnt.Shared;

    @if (Comments == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
    <MudGrid Class="mt-8">
        <MudItem xs="12" sm="12" md="12">
            <MudSelect T="OrderBy" Label="Sort" ValueChanged="@(args => LoadData(args))">
                <MudSelectItem Value="@OrderBy.New" />
                <MudSelectItem Value="@OrderBy.Top" />
            </MudSelect>
        </MudItem>
        @foreach (var comment in Comments)
        {
            <MudItem xs="8" sm="8" md="8">
                <CommentCard Comment="comment"></CommentCard>
            </MudItem>
        }
    </MudGrid>
    }*@

@if (Comments == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="d-flex flex-grow-1 flex-row">
        <MudPaper Elevation="25" Class="py-4 flex-grow-1">
            <div class="d-flex flex-column px-4" style="max-height:800px; overflow:scroll;">
                @foreach (var comment in Comments)
                {
                    <CommentCard Comment="comment" />
                }
            </div>
            <MudPaper Elevation="25" Class="d-flex flex-row px-2 mx-4" Style="background-color: var(--mud-palette-background-grey);">
                    <MudIconButton Icon="@Icons.Material.Filled.AddCircle"></MudIconButton>
                    <MudTextField T="string" Placeholder="Create Comment" DisableUnderLine="true" @bind-Value="CommentText" Class="mt-n2 mx-4"></MudTextField>
                    <MudIconButton Icon="@Icons.Material.Outlined.Send" Color="Color.Default" OnClick="CreateComment"></MudIconButton>
                </MudPaper>
        </MudPaper>
    </div>
}