@if (Comments == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="d-flex flex-grow-1 flex-row">
        <MudPaper Elevation="25" Class="py-4 flex-grow-1">
            <div class="ml-4" style="width:100px">
                <MudSelect T="OrderBy" Label="Sort" ValueChanged="@(LoadData)">
                    <MudSelectItem Value="@OrderBy.New" />
                    <MudSelectItem Value="@OrderBy.Top" />
                </MudSelect>
            </div>
            <div class="d-flex flex-column px-4" style="max-height:800px; overflow:scroll;">
                @foreach (var comment in Comments)
                {
                    <CommentCard Comment="comment" />
                }
            </div>
            <MudPaper Elevation="25" Class="d-flex flex-row px-2 mx-4" Style="background-color: var(--mud-palette-background-grey);">
                <MudIconButton Icon="@Icons.Material.Filled.AddCircle"></MudIconButton>
                <MudTextField T="string" Placeholder="Create Comment" DisableUnderLine="true" @bind-Value="CommentText" Class="mt-n2 mx-4"></MudTextField>
                <AuthorizeView>
                    <Authorized>
                        <MudIconButton Icon="@Icons.Material.Outlined.Send" Color="Color.Primary" OnClick="CreateComment"></MudIconButton>
                    </Authorized>
                    <NotAuthorized>
                        <MudTooltip Text="Sign in to send comments!">
                            <MudIconButton Icon="@Icons.Material.Outlined.Send" Color="Color.Dark" Disabled="true"></MudIconButton>
                        </MudTooltip>
                    </NotAuthorized>
                </AuthorizeView>
            </MudPaper>
        </MudPaper>
    </div>
}
