<div class="d-flex flex-row my-4">
    <div class="mr-4">
        <MudGrid style="width:75px" Class="mr-4">
            <MudItem xs="12" style="display: flex; flex-wrap: wrap; justify-content: center;">
                <MudAvatar Image="https://avatars.githubusercontent.com/u/10701249?s=460&u=f806998af6e29fd4402736ba2efc2649adae9e39&v=4" />
            </MudItem>
            <MudItem xs="6">
                <MudIcon Icon="@Icons.Material.Rounded.Favorite" Color="Liked?Color.Primary:Color.Default" @onclick="@(_ => Liked = !Liked)"></MudIcon>
            </MudItem>
            <MudItem xs="6">
                <MudText Typo="Typo.h5">@Comment.Score</MudText>
            </MudItem>
        </MudGrid>
    </div>
    <div>
        <MudText Typo="Typo.body1" Style="@($"color:#78909C")"><b>@Comment.User</b></MudText>
        <MudText Typo="Typo.body2">@Comment.Content</MudText>
    </div>
</div>
